# Création et manipulation d'une liste

In [2]:
malist = ['a', 'b', 'c','d']
malist[0]
len(malist)

4

In [3]:
del malist[3]  #del malist[len(malist) - 1]
print(malist)

['a', 'b', 'c']

In [4]:
malist.remove('a')
print(malist)

['b', 'c']

In [7]:
malist.extend(['c', 'f'])
malist

['b', 'c', 'e', 'f', 'c', 'f']

In [11]:
print(malist.count('c'))
malist.index('b')

2

0

In [13]:
malist.insert(0, 'z')
malist

['z', 'b', 'c', 'e', 'f', 'c', 'f']

In [15]:
malist.sort()
malist

['b', 'c', 'c', 'e', 'f', 'f', 'z']

# Création et manipulation d'une dictionnaire

In [3]:
equipe = {'Modric':'Réal', 'Martial':'ManU', 'Mandanda':'Marseille'}
equipe

{'Modric': 'Réal', 'Martial': 'ManU', 'Mandanda': 'Marseille'}

In [9]:
# Pour récupérer les clés ou les valeurs
print(equipe.keys())
print(equipe.values())
print(equipe.get('Martial'))
print(equipe.items())

dict_keys(['Modric', 'Martial', 'Mandanda', 'Navas'])
dict_values(['Réal', 'ManU', 'Marseille', 'Paris'])
ManU
dict_items([('Modric', 'Réal'), ('Martial', 'ManU'), ('Mandanda', 'Marseille'), ('Navas', 'Paris')])

In [7]:
# Pour ajouter un nouvel élément
equipe['Navas'] = 'Paris'
equipe

{'Modric': 'Réal',
 'Martial': 'ManU',
 'Mandanda': 'Marseille',
 'Navas': 'Paris'}

In [8]:
# Pour tester l'existance d'une clé dans le dictionnaire
'Modric' in equipe

True

In [17]:
for clé,valeur in equipe.items():
    print("Le joueur",clé,"joue dans l'équipe de",valeur)

Le joueur Modric joue dans l'équipe de Réal
Le joueur Martial joue dans l'équipe de ManU
Le joueur Mandanda joue dans l'équipe de Marseille
Le joueur Navas joue dans l'équipe de Paris

# Chargement de fichiers

In [4]:
import pandas as pd
import numpy as np

In [11]:
exemple = pd.read_excel("Chapitre_03/exemple.xlsx")
print(exemple)
type(exemple)

Nom   Prénom  Note 1  Note 2
0  Tremblay     Alex      16      12
1   Mestari  Ibrahim      13      16
2    Manjra     Sara      15      16

pandas.core.frame.DataFrame

In [46]:
exemple['Note finale'] = (exemple['Note 1'] + exemple['Note 2']) / 2
exemple

14.666666666666666

In [14]:
import os
os.getcwd()

# Fusion des données

In [28]:
tab1 = np.arange(2,20,2).reshape(3,3)

tab2 = tab1 + 1

In [31]:
np.concatenate([tab1, tab2])

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [ 3,  5,  7],
       [ 9, 11, 13],
       [15, 17, 19]])

In [32]:
np.concatenate([tab1, tab2], axis=1)

array([[ 2,  4,  6,  3,  5,  7],
       [ 8, 10, 12,  9, 11, 13],
       [14, 16, 18, 15, 17, 19]])

In [35]:
df1 = pd.DataFrame(tab1, index=[1,2,3], columns=['A','B','C'])

df2 = pd.DataFrame(tab2, index=[4,5,6], columns=['A','B','C'])

In [37]:
pd.concat([df1,df2])

    A   B   C
1   2   4   6
2   8  10  12
3  14  16  18
4   3   5   7
5   9  11  13
6  15  17  19

In [38]:
pd.concat([df1,df2], axis=1)

      A     B     C     A     B     C
1   2.0   4.0   6.0   NaN   NaN   NaN
2   8.0  10.0  12.0   NaN   NaN   NaN
3  14.0  16.0  18.0   NaN   NaN   NaN
4   NaN   NaN   NaN   3.0   5.0   7.0
5   NaN   NaN   NaN   9.0  11.0  13.0
6   NaN   NaN   NaN  15.0  17.0  19.0

In [42]:
df1 = pd.DataFrame({'Salarié': ['Eric', 'Hapsa', 'Elise', 'Xin'], 'groupe': ['Technicien', 'Ingénieur', 'Ingénieur', 'Technicien']})
print(df1)
df2 = pd.DataFrame({'Salarié': ['Hapsa', 'Elise', 'Eric', 'Xin'], 'date_embauche': [2001, 1988, 2012, 2016]})
print(df2)

Salarié      groupe
0    Eric  Technicien
1   Hapsa   Ingénieur
2   Elise   Ingénieur
3     Xin  Technicien
  Salarié  date_embauche
0   Hapsa           2001
1   Elise           1988
2    Eric           2012
3     Xin           2016

In [43]:
pd.merge(df1, df2)

  Salarié      groupe  date_embauche
0    Eric  Technicien           2012
1   Hapsa   Ingénieur           2001
2   Elise   Ingénieur           1988
3     Xin  Technicien           2016

# Stat desc

In [49]:
df1 = pd.DataFrame({'étudiant': ['A', 'B', 'C', 'A', 'B', 'C'], 'notes': np.random.randint(12,18,6)}, columns=['étudiant', 'notes'])
df1

  étudiant  notes
0        A     14
1        B     14
2        C     17
3        A     13
4        B     14
5        C     15

In [50]:
df1.describe()

           notes
count   6.000000
mean   14.500000
std     1.378405
min    13.000000
25%    14.000000
50%    14.000000
75%    14.750000
max    17.000000

In [57]:
print(df1['notes'].mean())
df1.mean(axis=1)

14.5

0    14.0
1    14.0
2    17.0
3    13.0
4    14.0
5    15.0
dtype: float64

0    14.0
1    14.0
2    17.0
3    13.0
4    14.0
5    15.0
dtype: float64

In [59]:
df1.groupby('étudiant').sum()

          notes
étudiant
A            27
B            28
C            32

In [60]:
df1.groupby('étudiant').describe()

         notes
         count  mean       std   min    25%   50%    75%   max
étudiant
A          2.0  13.5  0.707107  13.0  13.25  13.5  13.75  14.0
B          2.0  14.0  0.000000  14.0  14.00  14.0  14.00  14.0
C          2.0  16.0  1.414214  15.0  15.50  16.0  16.50  17.0